@font-face {
    font-family: "ExpoArabic";
    src: url(../fonts/ExpoArabic/ExpoArabic-Medium.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "ExpoArabic";
    src: url(../fonts/ExpoArabic/ExpoArabic-Book.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "ExpoArabic";
    src: url(../fonts/ExpoArabic/ExpoArabic-SemiBold.ttf);
    font-weight: 900;
}

* {
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-transform: capitalize;

    &::selection{
        background-color: #13A89E;
        color: #fff; 
    }
    
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background-color: #92278f;
    }
    
    &::-webkit-scrollbar-thumb {
        background: linear-gradient(180deg, #13A89E, #92278f);
        border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(90deg, #92278f, #92278f);
    }
}

.overflowNone{
    overflow: hidden;
}

.btn:focus,
button:focus,
input:focus,
.form-control:focus {
    outline-width: 0px !important;
    outline-color: transparent !important;
    box-shadow: 0 0 0 0 rgba($color: #000000, $alpha: 0);
}

button {
    border: 0px;
    outline: none;
}

a {
    text-decoration: none !important;
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.overflowNone{
    overflow: hidden;
}

.button-contain {
    display: flex;
    align-items: center;
    align-content: center;
  
    .custom-btn {
      width: 140px;
      height: 50px;
      border: 0px;
      outline: none;
      border-radius: 50px;
      background: linear-gradient(90deg, #006778, #13A89E) !important;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      font-size: 15px;
      font-weight: 500;
      color: #fff;
  
      &:hover {
        background: linear-gradient(90deg, #13A89E, #006778) !important;
      }

      &:last-child {
        margin-inline-start: 15px !important;
      }
    }
}

.general-section {
    width: 100%;
    padding: 40px 0px;
    position: relative;
}
  
.heading {
    width: 100%;
    margin-bottom: 50px;

    h1 {
        width: fit-content;
        padding: 0px 40px;
        color: #13A89E;
        font-size: 25px;
        font-weight: 900;
        position: relative;
        margin: 0px auto;
        z-index: 9;

        &::after, &::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        background: url('../images/pharmacy.webp') center/ contain no-repeat;
        top: calc(50% - 15px);
        z-index: -1;
        filter: invert(22%) sepia(82%) saturate(1438%) hue-rotate(274deg) brightness(94%) contrast(101%);;
        }

        &::after {
        left: 0;
        }

        &::before {
        right: 0;
        }
    }

    &.margin-none {
        margin-bottom: 20px !important;

        h1 {
            margin: unset !important;
        }
    }
}
  
.product-box {
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.08);
    transition: all .3s linear;
    overflow: hidden;
  
    .image-content {
        width: 100%;
        height: 180px;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        .sale {
            width: 100px;
            height: 30px;
            border-radius: 6px;
            background-color: #92278f;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            font-size: 15px;
            color: #fff;
            font-weight: 500;
            position: absolute;
            top: 10px;
            left: 10px;
        }
    }
  
    .content {
      width: 100%;
      padding: 8px 10px;
      text-align: center;
  
      h2 {
        color: #000;
        font-size: 16px;
        font-weight: 700;
        text-transform: lowercase !important;
        margin: 0px;
      }

      .price-contain {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin-top: 10px;

        .before {
            color: #808080;
            font-size: 15px;
            font-weight: 500;
            text-decoration: line-through;
            margin: 0px !important;
        }

        .after {
            color: #333;
            font-size: 15px;
            font-weight: 700;
            margin: 0px 0px 0px;
            margin: 0px 10px;
        }
      }
    }
  
    .product-btn {
      width: 100%;
      padding: 10px 20px;
      background-color: #13A89E;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-between;
  
      .custom-btn {
        width: 40px;
        height: 40px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
  
        img {
          width: 50%;
          height: 50%;
          object-fit: contain;
          filter: invert(22%) sepia(82%) saturate(1438%) hue-rotate(274deg) brightness(94%) contrast(101%);;
        }
  
        &:hover {
          img {
            animation: tada .4s linear;
          }
        }
      }
    }
  
    &:hover {
      transform: translateY(-10px);
    }
}

.swiper-button-next, .swiper-button-prev {
    width: 40px;
    height: 40px;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    position: absolute;
    bottom: 0px !important;
    background-size: 20px 20px;
    top: unset !important;
    transform: translate(0px) !important;

    &::after {
        font-size: 15px;
        color: #13A89E;
    }
}

.swiper-button-prev{
    left: calc(50% - 45px) !important;
}

.swiper-button-next{
    right: calc(50% - 45px) !important;
}