@import 'global';
@import 'animations';
:root {
  --pimary: '#92278f',
}

html[dir="ltr"] {
  * {
    font-family: 'Roboto', sans-serif;
  }
}

html[dir="rtl"] {
  * {
    font-family: "ExpoArabic" , sans-serif ;
  }

  footer .content .form-contain .form-group .search-btn,
  .discount-shape .form-contain .form-group .search-btn,
  .navbar .center-nav .content .form-contain .form-group .search-btn {
    right: unset !important;
    left: 5px !important;
  }

  .navbar .center-nav .content .list-data li a span {
    right: unset;
    left: -5px !important;
  }

  .about-us .content .list li::before {
    left: unset !important;
    right: -6px !important;
  }

  footer .content .payment {
    object-position: right !important;
  }

  .article-box .image-content .time , .product-box .image-content .sale,
  .product-details .prodcutDetailsThumbsSlider .swiper-button-prev ,
  .table-resposive table td .product-num .num-btn.add{
    left: unset !important;
    right: 10px !important;
  }

  .table-resposive table td .product-num .num-btn.min ,
  .product-details .prodcutDetailsThumbsSlider .swiper-button-next {
    right: unset !important;
    left: 10px !important;
  }

  header .swiper-button-prev {
    right: unset !important;
    left: 90px !important;
  }

  header .swiper-button-next {
    right: unset !important;
    left: 30px !important;
  }

  .swiper-button-next {
    right: unset !important;
    left: calc(50% - 45px) !important;
  }

  .swiper-button-prev {
    left: unset !important;
    right: calc(50% - 45px) !important;
  }

  .form-contain .show_pass, .form-data .show_pass {
    right: unset !important;
    left: 25px !important;
  }
}

.navbar {
  width: 100%;
  padding: 0px;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  .top-nav {
    width: 100%;
    padding: 10px 0px;
    background-color: #fff;

    .top-nav-contain {
      width: 100%;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-between;

      .data {
        display: flex;
        align-items: center;
        align-content: center;

        img {
          width: 20px;
          height: 20px;
          object-fit: contain;
          margin-inline-end: 10px;
          filter: invert(22%) sepia(82%) saturate(1438%) hue-rotate(274deg) brightness(94%) contrast(101%);
        }

        p {
          color: #808080;
          font-size: 13px;
          font-weight: 500;
          margin: 0px;
        }

        &:hover {
          img {
            animation: tada .4s linear;
          }

          span {
            color: var(--pimary);
          }
        }
      }

      .address-list {
        display: flex;
        align-items: center;
        align-content: center;

        li {
          padding: 0px 10px;
          border-inline-end: 1px solid #808080;

          &:first-child {
            padding-inline-start: 0px !important;
          }

          &:last-child {
            padding-inline-end: 0px !important;
            border: 0px !important;
          }

          a {
            display: flex;
            align-items: center;
            align-content: center;

            img {
              width: 18px;
              height: 18px;
              object-fit: contain;
              margin-inline-end: 10px;
              filter: invert(22%) sepia(82%) saturate(1438%) hue-rotate(274deg) brightness(94%) contrast(101%);
              transition: all .2s linear;
            }

            span {
              color: #808080;
              font-size: 12px;
              font-weight: 500;
            }

            &:hover {
              img {
                animation: tada .4s linear;
              }

              span {
                color: var(--pimary);
              }
            }
          }
        }
      }
    }
  }

  .center-nav {
    width: 100%;
    padding: 10px 0px;
    background-color: #F6FAFC;
    transition: all .3s linear;

    .content {
      width: 100%;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-between;

      .hamburger {
        display: none;
        .line { 
          width: 30px;
          height: 3px;
          background: linear-gradient(45deg, #00466A 0%, #92278f 100%);
          display: block;
          margin: 8px auto;
          transition: all 0.3s ease-in-out;
        }
  
        &.active {
          transition: all 0.3s ease-in-out;
          transition-delay: 0.6s;
          transform: rotate(45deg);
  
          .line {
            &:nth-child(2) {
              width: 0px;
            }
  
            &:nth-child(1), &:nth-child(3) {
              transition-delay: 0.3s;
            }
  
            &:nth-child(1) {
              transform: translateY(6.5px);
            }
  
            &:nth-child(3) {
              transform: translateY(-15px) rotate(90deg);
            }
          }
        }
      }

      .brand-name img {
        width: 200px;
        height: 70px;
        object-fit: contain;
        transition: all .3s linear;
      }

      .form-contain .form-group {
        width: 600px;
        height: 50px;
        position: relative;
        margin: 0px !important;

        .form-control {
          width: 100%;
          height: 100%;
          background-color: #fff;
          border: 1px solid #92278f;
          border-radius: 50px;
          padding: 0px 20px;
          color: #000;
          font-size: 15px;
          font-weight: 500;
          padding-inline-end: 120px !important;

          &::placeholder {
            font-size: 15px;
            font-weight: 500;
            color: #888;
          }
        }

        .search-btn {
          width: 100px;
          height: 40px;
          border: 0px;
          outline: none;
          border-radius: 50px;
          background: linear-gradient(90deg, #006778, #92278f);
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          font-size: 15px;
          font-weight: 500;
          color: #fff;
          position: absolute;
          top: calc(50% - 20px) ;
          right: 5px;

          &:hover {
            background: linear-gradient(90deg, #92278f, #006778);
          }
        }
      }

      .list-data {
        display: flex;
        align-items: center;
        align-content: center;
        
        li {
          padding: 0px 10px;

          &.search {
            display: none;
          }

          &:first-child {
            padding-inline-start: 0px;
          }

          &:last-child {
            padding-inline-end: 0px;
            border: 0px;
          }

          a {
            width: 40px;
            height: 40px;
            background-color: #92278f;
            border-radius: 50%;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            position: relative;

            img {
              width: 20px;
              height: 20px;
              object-fit: contain;
              filter: invert(100%) sepia(0%) saturate(7437%) hue-rotate(153deg) brightness(124%) contrast(93%);
            }

            span {
              width: 20px;
              height: 20px;
              background-color: #8CC540;
              display: flex;
              align-items: center;
              align-content: center;
              justify-content: center;
              border-radius: 50%;
              color: #fff;
              font-size: 15px;
              font-weight: 500;
              position: absolute;
              top: -5px;
              right: -5px;
            }

            &:hover {
              img {
                animation: tada .3s linear;
              }
            }
          }
        }
      }
    }

    .dropdown { 
      a {
        width: fit-content !important;
        height: fit-content !important;
        background-color: transparent !important;
        border-radius: 0px !important;
        display: flex;
        align-items: center;
        align-content: center;


        img {
          width: 15px;
          height: 15px;
          object-fit: contain;
          margin-inline-end: 10px;
          filter: invert(42%) sepia(63%) saturate(3542%) hue-rotate(175deg) brightness(91%) contrast(101%) !important;
        }

        span {
          color: #92278f !important;
          font-size: 15px;
          font-weight: 500;
          width: unset !important;
          height: unset !important;
          background-color: transparent !important;
          position: relative !important;
          top: 0px !important;
          left: 0px !important;
          right: 0px !important;
        }
      }

      .dropdown-menu {
        border-radius: 20px !important;
        border: 0px !important;
        box-shadow: 0px 0px 10px rgba($color: #92278f, $alpha: 0.2);

        .dropdown-divider {
          border-color: #ddd !important;
        }

        a {
          color: #333;
          font-size: 15px;
          font-weight: 500;
          width: 100% !important;
          display: block !important;

          &:hover {
            color: #92278f;
          }
        }
      }
    }
  }

  .navbar-nav {
    width: 100%;
    background-color: #92278f;
    margin: 0px auto;
    padding: 0px;

    .nav-contain {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      align-content: center;
    }

    .nav-item {
      margin-inline-end: 30px;

      &.category {
        width: 258px;
        position: relative;
        background-color: #fff;
        padding: 0px 30px;

        .nav-link {
          width: 100%;
          display: flex;
          align-items: center;
          align-content: center;

          .nav-shape {
            margin-inline-end: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            overflow: hidden !important;
      
            svg {
              width: 40px;
              height: 40px;
              top: 5px;   
              position: absolute;
              stroke: #92278f;
              stroke-width: 0.2rem;
              stroke-linecap: round;
              stroke-linejoin: round;
              fill: none;
              display: block;
      
              path {
                transition: stroke-dasharray var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s), stroke-dashoffset var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s);
                stroke-dasharray: var(--array-1, 26px) var(--array-2, 100px);
                stroke-dashoffset: var(--offset, 126px);
                transform: translateZ(0);
      
                &:nth-child(2) {
                  --duration: 0.7s;
                  --easing: ease-in;
                  --offset: 100px;
                  --array-2: 74px;
                }
      
                &:nth-child(3) {
                  --offset: 133px;
                  --array-2: 107px;
                }
              }
            }
          }

          span {
            font-size: 15px;
            font-weight: 700;
            color: #92278f;
          }
        }

        &:hover {
          .category-list {
            transform: translateY(0px);
            opacity: 1;
            visibility: visible;
          }

          .nav-link .nav-shape svg {
            path {
              --offset: 57px;
  
              &:nth-child(1), &:nth-child(3) {
                --delay: 0.15s;
                --easing: cubic-bezier(0.2, 0.4, 0.2, 1.1);
              }
    
              &:nth-child(2) {
                display: none;
              }
    
              &:nth-child(3) {
                --offset: 58px;
              }
            }
          }
        }

        .category-list {
          width: 100%;
          position: absolute;
          top: 100%;
          visibility: hidden;
          padding: 10px;
          left: 0;
          opacity: 0;
          transform: translateY(-10px);
          transition: all .3s linear;
          z-index: 99;
          background-color: #fff;
          box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.3);

          li {
            width: 100%;
            padding: 10px 0px;
            border-bottom: 1px solid #ddd;

            &:last-child {
              border: 0px !important;
            }

            .cat-link {
              width: 100%;
              display: flex;
              color: #000;
              font-size: 15px;
              font-weight: 500;
              position: relative;
              z-index: 9;

              &::after {
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                background: url('../images/arrow.svg') center / contain no-repeat;
                top: calc(50% - 10px);
                left: 0px;
                z-index: -1;
              }
            }

            .category-data-list {
              width: 100%;
              height: 400px;
              overflow-y: scroll;
              min-width: 950px;
              padding: 30px 20px;
              background-color: #fff;
              position: absolute;
              top: 0px;
              transition: all .3s linear;
              right: 100%;
              z-index: 9;
              transform: translateX(30px);
              opacity: 0;
              visibility: hidden;

              .category-data {
                h2 {
                  font-size: 20px;
                  font-weight: 900;
                  margin-bottom: 20px;
                  color: #92278f;
                  padding-bottom: 20px;
                  border-bottom: 1px solid #ddd;
                }
                
                .img-box {
                  width: 100%;
                  display: block;
                  height: 200px;

                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                  }
                }

                li {
                  border: 0px !important;
                  padding: 0px !important;
                  margin-bottom: 10px !important;

                  &:last-child {
                    margin-bottom: 10px !important;
                  }
                }

                a {
                  color: #808080;
                }
              }
            }

            &:hover {
              a {
                color: #92278f;
              }

              .category-data-list {
                opacity: 1;
                transform: translateX(0px);
                visibility: visible;
              }
            }
          }
        }
      }

      .nav-link {
        font-size: 15px;
        font-weight: 700;
        color: #fff;

        &:hover, &.active {
          color: #8CC540 !important;
        }
      }

      &.brands-cate {
        .nav-link {
          padding-inline-end: 20px;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            background: url('../images/down_arrow.svg') center / contain no-repeat;
            top: calc(50% - 7.5px);
            left: 0px;
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(291deg) brightness(106%) contrast(104%);
          }

          &:hover {
            &::after {
              filter: invert(100%) sepia(51%) saturate(3089%) hue-rotate(24deg) brightness(90%) contrast(65%);
              animation: translateY 1s linear infinite;
            }
          }
        }

        .brands-data {
          width: 100%;
          height: 500px;
          padding: 30px 0px;
          overflow-y: scroll;
          box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.2);
          background: #fff url('../images/pill.png') left bottom / 250px 100px no-repeat;
          top: 100%;
          position: absolute;
          left: 0%;
          z-index: -1;
          transform: translateY(20px);
          opacity: 0;
          visibility: hidden;
          transition: all .3s linear;

          .brand-box {
            width: 100%;
            border-radius: 10px;
            padding-bottom: 10px;
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.04);
            transition: all .3s linear;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
        
            img {
              width: 100%;
              height: 120px;
              object-fit: contain;
              object-position: center;
              margin-bottom: 15px;
            }
        
            p {
              width: 100%;
              color: #000;
              font-size: 18px;
              font-weight: 700;
              margin: 0px;
            }
        
            &:hover {
              transform: translateY(-10px);
        
              p {
                color: #92278f;
              }
            }
          }
        }

        &:hover {
          .nav-link {
            color: #8CC540;

            &::after {
              filter: invert(100%) sepia(51%) saturate(3089%) hue-rotate(24deg) brightness(90%) contrast(65%);
              animation: translateY 1s linear infinite;
            }
          }

          .brands-data {
            transform: translateY(0px);
            opacity: 1;
            visibility: visible;
          }
        }
      }

      &.offer-dropdown {
        position: relative;

        .nav-link {
          padding-inline-end: 20px;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            background: url('../images/down_arrow.svg') center / contain no-repeat;
            top: calc(50% - 7.5px);
            left: 0px;
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(291deg) brightness(106%) contrast(104%);
          }

          &:hover {
            &::after {
              filter: invert(100%) sepia(51%) saturate(3089%) hue-rotate(24deg) brightness(90%) contrast(65%);
              animation: translateY 1s linear infinite;
            }
          }
        }

        .offer-dropdown-list {
          min-width: 300px;
          width: 100%;
          position: absolute;
          top: 100%;
          left: 0;
          background-color: #fff;
          padding: 20px 10px;
          box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.2);
          transition: all .3s linear;
          opacity: 0;
          visibility: hidden;
          transform: translateY(20px);

          .data-item {
            padding: 10px 0px;
            border-bottom: 1px solid #ddd;

            &:first-child {
              padding-top: 0px !important;
            }

            &:last-child {
              padding-bottom: 0px !important;
              border-bottom: 0px !important;
            }

            .data-link {
              width: 100%;
              padding-inline-start: 30px;
              display: block;
              position: relative;
              color: #000;
              font-size: 15px;
              font-weight: 500;

              &::after {
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                background: url('../images/arrow.svg') center / contain no-repeat;
                top: calc(50% - 10px);
                left: 0px;
                transition: all .3s linear;
              }

              &:hover {
                color: #92278f;

                &::after {
                  left: 5px;
                }
              }
            }
          }
        }

        &:hover {
          .nav-link {
            color: #8CC540;

            &::after {
              filter: invert(100%) sepia(51%) saturate(3089%) hue-rotate(24deg) brightness(90%) contrast(65%);
              animation: translateY 1s linear infinite;
            }
          }

          .offer-dropdown-list {
            transform: translateY(0px);
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }

  &.scrolled {
    box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.3);
    .top-nav, .navbar-nav {
      display: none;
    }

    .center-nav {

      .brand-name img{
        height: 50px;
      }
    }
  }
}

.bottom-nav {
  width: 100%;
  background-color: #92278f;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 998;
  display: none;
  align-items: center;
  align-content: center;
  justify-content: space-between;

  li {
    width: calc(100% / 5);
    
    a {
      padding: 10px 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      position: relative;
      z-index: 9;

      img {
        width: 20px;
        height: 20px;
        object-fit: contain;
        margin-bottom: 4px;
        filter: invert(100%) sepia(0%) saturate(7457%) hue-rotate(221deg) brightness(105%) contrast(103%);
      }

      span {
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        display: block;
      }

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0%;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: -1;
        transition: all .2s linear;
      }

      &:hover, &.active {
        img {
          filter: invert(36%) sepia(89%) saturate(1000%) hue-rotate(170deg) brightness(96%) contrast(102%);
        }

        span {
          color: #92278f;
        }

        &::after {
          height: 100%;
        }
      }
    }
  }
}

header {
  padding-top: 170px;

  .swiper-slide {
    width: 100%;
    margin: 0px !important;
    position: relative;
    z-index: 999;

    a {
      width: 100%;
      height: 400px;
      position: relative;
      display: block;
      z-index: 99;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .swiper-button-next {
    right: 30px !important;
    left: unset !important;
    bottom: 10px !important;
  }

  .swiper-button-prev {
    right: 90px !important;
    left: unset !important;
    bottom: 10px !important;
  }
}

.sub-header {
  width: 100%;
  padding: 250px 0px 50px 0px;
  background: #f4f7fc url('../images/sub_pages.jpg') bottom right/ contain no-repeat;

  .content {
    width: 100%;
    text-align: center;

    h1 {
      color: #92278f;
      font-size: 25px;
      font-weight: 900;
      margin-bottom: 20px;
    }

    .sub-header-list {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;

      li {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;

        &::after {
          content: '';
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #92278f;
          display: inline-block;
          margin: 0px 10px;
        }

        &:last-child::after {
          display: none;
        }

        a {
          color: #000;
          font-size: 15px;
          font-weight: 500;
        }

        span {
          color: #92278f;
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
  }
}

.top-category {
  width: 100%;
  background-color: #fff;

  .swiper-container {
    padding: 10px 0px 60px 0px;
  }

  .swiper-slide a {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: all .3s linear;

    img {
      width: 100%;
      height: 100px;
      object-fit: contain;
      object-position: center;
    }

    h2 {
      color: #000;
      font-size: 15px;
      font-weight: 700;
      text-align: center;
      margin: 10px 0px 0px 0px;
    }

    &:hover {
      transform: translateY(-10px);

      h2 {
        color: #92278f;
      }
    }
  }
}

.best-product {
  width: 100%;
  padding: 30px 0px 20px 0px ;

  .best-box {
    width: 100%;
    height: 200px;
    display: flex;
    transition: all .3s linear;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }

    &:hover {
      transform: translateY(-10px);
    }
  }
}

.banners-shape {
  width: 100%;
  background-color: #fff;
  
  .image-content {
    width: 100%;
    display: block;
    transition: all .2s linear;

    img {
      width: 100%;
      height: 200px;
      object-position: center;
      object-fit: cover;

      &.img-contain {
        object-fit: contain !important;
        height: 300px;
      }
    }

    &:hover {
      transform: translateY(-10px);
    }
  }
}

.about-us {
  z-index: 9;
  background-color: #fff;

  &::after {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background: url('../images/pill.png') center bottom / contain no-repeat;
    bottom: 0;
    left: 0;
    z-index: -1;
  }


  .image-content {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 15px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: all .3s linear;
    }

    &:hover img {
      transform: scale(1.5);
    }
  }

  .content {
    margin-top: 15px;

    .heading {
      margin-bottom: 20px;
      h1 {
        margin: unset !important;
      }
    }

    p {
      color: #808080;
      font-size: 15px;
      font-weight: 500;
      line-height: 1.8rem;
    }

    .list {
      width: 100%;
      li {
        width: 100%;
        position: relative;
        color: #808080;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.8rem;
        padding-inline-start: 20px;
        margin-bottom: 20px;

        &::before {
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          background-color: #92278f;
          border-radius: 3px;
          transform: rotate(45deg);
          left: -6px;
          top: 5px;
        }
      }
    }
  }
}

.products {
  z-index: 9;
  background-color: #fff;
  padding-bottom: 40px !important;

  &::after {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background: url('../images/pill.png') center bottom / contain no-repeat;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  .swiper-container {
    padding: 15px 0px 60px 0px !important;
  }

  &.best-saller {
    &::after {
      bottom: unset !important;
      top: 0;
      left: unset !important;
      right: 0px !important;
      background-position: top center;
    }
  }

  .brand-box {
    width: 100%;
    border-radius: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.04);
    transition: all .3s linear;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    img {
      width: 100%;
      height: 120px;
      object-fit: contain;
      object-position: center;
      margin-bottom: 15px;
    }

    p {
      width: 100%;
      color: #000;
      font-size: 18px;
      font-weight: 700;
      margin: 0px;
    }

    &:hover {
      transform: translateY(-10px);

      p {
        color: #92278f;
      }
    }
  }
}

.articles {
  z-index: 9;

  &::after {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background: url('../images/pill.png') center bottom / contain no-repeat;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}

.article-box {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.04);
  transition: all .3s linear;
  overflow: hidden;

  .image-content {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .time {
      padding: 10px 20px;
      border-radius: 5px;
      background-color: #8CC540;
      color: #fff;
      font-size: 15px;
      font-weight: 500;
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }
  
  .content {
    width: 100%;
    padding: 20px 15px;

    h2 {
      color: #000;
      font-size: 20px;
      font-weight: 700;
      margin: 0px;
    }

    p {
      color: #808080;
      font-size: 15px;
      font-weight: 500;
      line-height: 1.8rem;
      margin: 20px 0px;
    }
  }

  &:hover {
    transform: translateY(-10px);

    h2 {
      color: #92278f;
    }
  }
}

.list-numbers {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 10px;

  li {
    margin-inline-end: 10px;

    a {
      width: 50px;
      height: 50px;
      border: 1px solid #92278f;
      background-color: #fff;
      border-radius: 50%;
      color: #92278f;
      font-size: 15px;
      font-weight: 500;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;

      &.active, &:hover {
        background-color: #92278f;
        color: #fff;
      }
    }
  }
}

.articles-details {
  background-color: #fff;
  z-index: 9;

  &::after {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background: url('../images/pill.png') center bottom / contain no-repeat;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  .content {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.1);

    .header-img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }

    .data {
      width: 100%;
      padding: 20px 15px;

      .flex-data {
        display: flex;
        align-items: center;
        align-content: center;

        img {
          width: 20px;
          height: 20px;
          object-fit: contain;
          margin-inline-end: 10px;
          filter: invert(38%) sepia(71%) saturate(1340%) hue-rotate(179deg) brightness(80%) contrast(94%);
        }

        span {
          color: #808080;
          font-size: 15px;
          font-weight: 500;
        }
      }

      h1 {
        color: #000;
        font-size: 18px;
        font-weight: 900;
        margin: 20px 0px;
      }

      p {
        color: #808080;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.8rem;
        margin-bottom: 20px;
      }

      .share-data {
        display: flex;
        align-items: center;
        align-content: center;

        h2 {
          color: #92278f;
          font-size: 18px;
          font-weight: 700;
          width: fit-content;
          margin-inline-end: 15px;
          margin-bottom: 0px !important;
        }

        .socail-media {
          display: flex;
          align-items: center;
          align-content: center;
    
          li {
            margin-inline-end: 10px;
    
            &:last-child {
              margin: 0px;
            }
    
            a {
              img {
                width: 24px;
                height: 24px;
                object-fit: contain;
                opacity: .3;
                filter: invert(29%) sepia(95%) saturate(1347%) hue-rotate(183deg) brightness(96%) contrast(89%);
                transition: all .3s linear;
              }
    
              &:hover img {
                opacity: 1;
                animation: tada .4s linear;
              }
            }
          }
        }
      }
    }
  }

}

.filter-data {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.05);

  .heading-data {
    width: 100%;
    padding: 20px 0px;
    background-color: #92278f;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
  }

  .items {
    width: 100%;
    
    a {
      width: 100%;
      padding: 20px 10px;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-between;
      border-bottom: 1px solid #ddd;
      
      .title {
        color: #000;
        font-size: 15px;
        font-weight: 700;
      }

      .number {
        font-size: 15px;
        font-weight: 500;
        color: #92278f;
      }

      &:hover {
        .title {
          color: #92278f;
        }
      }
    }

    &:last-child a {
      border-bottom: 0px !important;
    }
  }
}

.product-details {
  .prodcutDetailsSwiper{
    margin: 0px !important;
    overflow: hidden;

    .swiper-slide{
      width: 100%;
      height: 373px;
      
      img{
        width: 100% !important;
        height: 100% !important;
        border-radius: 20px !important;
        object-fit: cover !important;
      }
    }
  }

  .prodcutDetailsThumbsSlider{
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    z-index: 99;
    border-radius: 20px !important;

    &::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 105px;
      top: 0;
      left: 0px;
      z-index: 2;
      pointer-events: none;
      border-radius: 20px;
      background: linear-gradient(90deg , #92278f , transparent , transparent , transparent, transparent , #92278f);
    }

    &::after{
      left: 0px;
    }

    &::before{
      right: 0px;
      background: linear-gradient(-90deg , #92278f , transparent);
    }

    .swiper-slide{
      width: 100%;
      height: 105px;
      cursor: pointer;
        
      img{
        width: 100% !important;
        height: 100% !important;
        border-radius: 20px !important;
        object-fit: cover !important;
      }
    }

    .swiper-button-lock{
      display: block !important;
    }

    .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
      opacity: 1 !important;
    }

    .swiper-button-next , .swiper-button-prev {
      width: 30px !important;
      height: 30px !important;
      top: 69% !important;
      transform: translateY(-50%) !important;

      &::after{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid #fff;
        font-size: 15px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
      }
    }

    .swiper-button-next {
      right: 10px !important;
      bottom: unset !important;
    }

    .swiper-button-prev {
      left: 10px !important;
      bottom: unset !important;
    }
  }

  .content {
    width: 100%;
    padding: 30px 15px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.04);
    border-radius: 10px;

    h1 {
      color: #000;
      font-size: 18px;
      font-weight: 900;
      margin: 0px;
    }

    .flex-data {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-between;
      margin: 20px 0px;
      padding: 10px 0px;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;

      .flex-price {
        display: flex;
        align-items: center;
        align-content: center;

        .title {
          color: #000;
          font-size: 15px;
          font-weight: 700;
          margin-inline-end: 10px;
          margin-bottom: 0px;
        }
      }

      .price {
        color: #92278f;
        font-size: 15px;
        font-weight: 700;
        margin: 0px;
      }

      .offer {
        padding: 10px 20px;
        background-color: #8CC540;
        color: #fff;
        font-size: 15px;
        font-weight: 700;
        border-radius: 5px;
      }
    }

    h3 {
      color: #000;
      font-size: 18px;
      font-weight: 700;
    }

    .desc {
      color: #808080;
      font-size: 15px;
      font-weight: 500;
      line-height: 1.8rem;
      margin: 0px;
    }

    .list {
      margin: 20px 0px;

      li {
        margin-bottom: 10px;

        &:last-child {
          margin: 0px;
        }

        a {
          display: flex;
          align-items: center;
          align-content: center;

          .title {
            color: #92278f;
            font-size: 15px;
            font-weight: 700;
            margin-inline-end: 10px;
          }

          .data {
            color: #333;
            font-size: 15px;
            font-weight: 500;
          }
        }
      }
    }

    .button-contain {
      width: 100%;
      justify-content: space-between;

      .fav {
        width: 50px;
        height: 50px;
        background-color: #fff;
        border: 1px solid #92278f;
        border-radius: 50%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;

        img {
          width: 50%;
          height: 50%;
          object-fit: contain;
          filter: invert(39%) sepia(65%) saturate(3471%) hue-rotate(177deg) brightness(94%) contrast(101%);
        }

        &:hover {
          background-color: #92278f;

          img {
            filter: invert(100%) sepia(0%) saturate(7488%) hue-rotate(212deg) brightness(106%) contrast(101%);
            animation: tada .4s linear;
          }
        }
      }

      .custom-btn {
        width: calc(100% - 60px) !important;
      }
    }
  }
}

.new-arrival {
  background-color: #F6FAFC;

  &::after {
    display: none !important;
  }

  .swiper-button-next, .swiper-button-prev {
    background-color: #fff !important;
  }
}

.offers {
  background-color: #F6FAFC;

  .image-content {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.05);

    &.large-img {
      height: 450px;
    }

    &.small-img {
      height: 212px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all .4s linear;
    }

    &:hover img {
      transform: scale(1.4);
    }
  }

  .button-contain {
    width: 100%;
    justify-content: center;
  }
}

.brands {
  width: 100%;
  padding: 30px 0px;
  background-color: #F6FAFC;

  .swiper-slide img {
    width: 100%;
    height: 100px;
    object-fit: contain;
    object-position: center;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: all .3s linear;

    &:hover {
      transform: translateY(-10px);
    }
  }

  .swiper-container {
    padding: 15px 0px 60px 0px !important;
  }

  .swiper-button-next, .swiper-button-prev {
    background-color: #fff !important;
  }
}

.shipping {
  width: 100%;
  padding: 40px 0px;
  background-color: #fff;

  .box {
    width: 100%;
    background-color: #92278f;
    border-radius: 10px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 10px;
    transition: all .3s linear;

    img {
      width: 70px;
      height: 70px;
      object-fit: contain;
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(331deg) brightness(104%) contrast(105%);
      transition: all .3s linear;
    }

    p {
      color: #fff;
      font-size: 15px;
      font-weight: 700;
      text-align: center;
      margin: 20px 0px 0px !important;
    }

    &:hover {
      transform: translateY(-10px);

      img {
        animation: tada .4s linear;
      }
    }
  }
}

.prescription {
  z-index: 9;

  &::after {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background: url('../images/pill.png') center bottom / contain no-repeat;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}

.modal-body {
  .form-contain .form-group {
    width: 100%;
    height: 50px;
    position: relative;
    margin-bottom: 0px !important;

    .form-control {
      width: 100%;
      height: 100%;
      background-color: #fff;
      border: 1px solid #92278f;
      border-radius: 50px;
      padding: 0px 20px;
      color: #000;
      font-size: 15px;
      font-weight: 500;
      padding-inline-end: 120px !important;

      &::placeholder {
        font-size: 15px;
        font-weight: 500;
        color: #888;
      }
    }

    .search-btn {
      width: 100px;
      height: 40px;
      border: 0px;
      outline: none;
      border-radius: 50px;
      background: linear-gradient(90deg, #006778, #92278f);
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      font-size: 15px;
      font-weight: 500;
      color: #fff;
      position: absolute;
      top: calc(50% - 20px) ;
      left: 5px;

      &:hover {
        background: linear-gradient(90deg, #92278f, #006778);
      }
    }
  }
}

.checkout {
  .checkout-content {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.05);
    padding: 25px 30px;
    
    .heading {
      margin-bottom: 20px !important;

      h1 {
        margin: unset !important;
      }
    }

    h2 {
      color: #333;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    p {
      color: #808080;
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 20px;
    }

    .form-control{
      border-radius: 8px !important;
      appearance: auto !important;
    }
  }

  &.E-payement {
    .checkout-content {
      .button-contain {
        a {
          width: 176px !important;
        }
      }
    }
  }
}

.contact {
  .map {
    width: 100%;
    height: 371px;
    border-radius: 20px;
    overflow: hidden;

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  .location-box {
    width: 100%;
    padding: 30px 10px;
    box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: .05);
    border-radius: 15px;
    transition: all .3s linear;

    .image-content img {
      width: 120px;
      height: 130px;
      object-fit: contain;
      background-color: #fff;
    }

    .content {
      width: 100%;
      padding-top: 10px;

      h2 {
        color: #000;
        font-size: 18px;
        font-weight: 900;
        margin-bottom: 20px;
      }

      .location {
        display: flex;
        align-items: center;
        align-content: center;
        margin-bottom: 20px;

        img {
          width: 20px;
          height: 20px;
          object-fit: contain;
          filter: invert(47%) sepia(55%) saturate(6099%) hue-rotate(177deg) brightness(94%) contrast(102%);
          margin-inline-end: 10px;
        }

        span {
          color: #808080;
          font-size: 12px;
          font-weight: 500;
        }
      }

      .flex-data {
        display: flex;
        align-items: center;
        align-content: center;
  
        li {
          margin-inline-end: 10px;
  
          &:last-child {
            margin: 0px;
          }
  
          a {
            img {
              width: 24px;
              height: 24px;
              object-fit: contain;
              opacity: .3;
              filter: invert(29%) sepia(95%) saturate(1347%) hue-rotate(183deg) brightness(96%) contrast(89%);
              transition: all .3s linear;
            }
  
            &:hover img {
              opacity: 1;
              animation: tada .4s linear;
            }
          }
        }
      }
    }

    &:hover {
      transform: translateY(-10px);
    }
  }
}

.login {
  width: 100%;
  padding: 250px 0px 50px 0px;
  background-color: #fff;
  position: relative;
  z-index: 9;

  &::after {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background: url('../images/pill.png') center bottom / contain no-repeat;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  .login-contain {
    width: 100%;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.04);
    overflow: hidden;
    background-color: #fff;

    .data {
      width: 100%;
      padding: 20px 25px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .contain {
      width: 100%;
      height: 100%;
      padding: 30px 15px;
      background-color: #f4f7fc;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;

      img {
        width: 200px;
        height: 80px;
        object-fit: contain;
      }

      h1 {
        color: #8CC540;
        font-size: 28px;
        font-weight: 900;
        margin: 20px 0px;
      }
      
      p {
        color: #333;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.8rem;
      }
    }

    h2 {
      color: #333;
      font-size: 25px;
      font-weight: 900;
      margin-bottom: 20px;
    }
  }

  .forget_pass {
    font-size: 15px;
    font-weight: 500;
    color: #000 !important;
    margin: 10px 0px;
  }

  .custom-btn {
    width: 100% !important;
    margin: 10px 0px 10px 0px;
  }
}

.form-contain, .form-data {
  .form-group{
    position: relative;

    .form-control{
      // padding: 0.375rem 0.75rem 0.375rem 2rem;
      border: 1px solid #808080;
      background-color: #fff;
      border-radius: 50px;
      color: #333;
      &::placeholder{
        color: transparent;
      }
    }

    &.form-floating>label {
      padding: .8rem 1rem;
    }
  }

  .flex-data {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
  }

  textarea {
    height: 100px !important;
    border-radius: 5px !important;
    resize: none !important;
  }

  .radio-lable {
    width: 180px;
    height: 50px;
    margin-inline-end: 10px;
    cursor: pointer;

    &:last-child {
      margin: 0px !important;
    }


    input[type="radio"],
    input[type="checkbox"],
    input[type="file"] {
      display: none;
      cursor: pointer;
      &:checked {
        &+ label {
          background-color: #92278f;
          color: #fff;
          
          &::before {
            border: 5px solid #fff;
          }

          &::after {
            filter: invert(100%) sepia(100%) saturate(25%) hue-rotate(358deg) brightness(105%) contrast(107%);
          }
        }
      }
    }

    label {
      position: relative;
      color: #92278f;
      font-size: 12px;
      cursor: pointer;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: flex-start;
      text-align: center;
      border: 1px solid #92278f;
      border-radius: 5px;
      padding: 10px 10px;

      &::before {
        content: '';
        width: 15px;
        height: 15px;
        border: 2px solid #92278f;
        transition: all .3s linear;
        margin-inline-end: 10px;
        border-radius: 50%;
      }
    }

    &.Upload {
      label {
        flex-direction: row-reverse !important;
        justify-content: flex-end !important;

        &::After {
          content: '';
          width: 15px;
          height: 15px;
          background: url('../images/upload.png') center/ contain no-repeat;
          transition: all .3s linear;
          margin-inline-end: 10px;
          float: left !important;
          filter: invert(40%) sepia(30%) saturate(6476%) hue-rotate(177deg) brightness(95%) contrast(101%);
        }

        &::before {
          display: none;
        }
      }
    }
  }

  input , 
  select{
    height: 50px !important;
  }
  .form-floating > label {
    color: #666;
  }
  .form-floating > textarea {
    height: auto !important;
  }
  .show_pass {
    position: absolute;
    top: 15px;
    right: 25px;
    cursor: pointer;
    color: #888;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    object-fit: contain;
    filter: invert(52%) sepia(0%) saturate(2%) hue-rotate(65deg) brightness(95%) contrast(89%);
  }
}

.table-resposive {
  width: 100%;
  table {
    width: 100%;
    th {
      background-color: #F6FAFC;
      color: #92278f;
      font-size: 15px;
      font-weight: 900;
    }
    th, td {
      border: 1px solid #ddd;
      text-align: center;
      height: 50px;
      padding: 10px;
      vertical-align: middle;
    }

    td {
      background-color: #fff;
      font-size: 15px;
      font-weight: 500;
      text-align: center;
      color: #000;

      .product-img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
      }

      .product-num {
        width: 140px;
        height: 40px;
        position: relative;
        z-index: 9;
        margin: auto !important;
        border: 1px solid #f4f7fc;

        .product-input {
          width: 100%;
          height: 100%;
          background-color: transparent;
          border: 0px;
          text-align: center;
          color: #000;
          font-size: 15px;
        }

        .num-btn {
          width: 15px;
          height: 15px;
          position: absolute;
          top: 50%;
          display: flex;
          align-items: center;
          align-content: center;
          transform: translateY(-50%);

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            filter: invert(51%) sepia(10%) saturate(19%) hue-rotate(335deg) brightness(97%) contrast(80%);
          }

          &.add {
            left: 10px;
          }

          &.min {
            right: 10px;
          }
        }
      }

      .delete-btn {
        width: 25px;
        height: 25px;
        object-fit: contain;
      }
    }
  }
}

.cart {
  .button-contain {
    a {
      margin-inline-end: 15px;
      width: fit-content !important;
      padding: 20px 25px;
  
      &:nth-child(2) {
        background: #EC3737 !important;
        border: 1px solid #EC3737;
  
        &:hover {
          background: transparent !important; 
          color: #EC3737;
        }
      }
    }
  }

  .nav {
    display: flex;
    align-items: center;
    align-content: center;
    border: 0px !important;

    li {
      margin-inline-end: 10px;

      a {
        padding: 10px 15px;
        min-width: 163px !important;
        height: 50px;
        border: 0px;
        outline: none;
        border-radius: 50px;
        background: #fff;
        border: 1px solid #92278f;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        font-size: 15px;
        font-weight: 500;
        color: #006778;
    
        &:hover, &.active {
          border-radius: 50px;
          background: linear-gradient(90deg, #92278f, #006778) !important;
          color: #fff;
        }
      }
    }
  }
}


.discount-shape {
    width: 100%;
    padding: 30px 15px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: .05);
    border-radius: 15px;

    p {
      color: #000;
      font-size: 18px;
      font-weight: 900;
      margin: 0px !important;
    }

    .form-contain .form-group {
      width: 100%;
      height: 50px;
      position: relative;
      margin: 15px 0px !important;
  
      .form-control {
        width: 100%;
        height: 100%;
        background-color: #fff;
        border: 1px solid #92278f;
        border-radius: 50px;
        padding: 0px 20px;
        color: #000;
        font-size: 15px;
        font-weight: 500;
        padding-inline-end: 120px !important;
  
        &::placeholder {
          font-size: 13px;
          font-weight: 500;
          color: #888;
        }
      }
  
      .search-btn {
        width: 100px;
        height: 40px;
        border: 0px;
        outline: none;
        border-radius: 50px;
        background: linear-gradient(90deg, #006778, #92278f);
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        font-size: 15px;
        font-weight: 500;
        color: #fff;
        position: absolute;
        top: calc(50% - 20px) ;
        left: 5px;
  
        &:hover {
          background: linear-gradient(90deg, #92278f, #006778);
        }
      }
    }

    span {
      color: #92278f;
      font-size: 15px;
      font-weight: 700;
    }

    .flex-data {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    .button-contain {

      a {
        width: 100% !important;
      }
    }
}

footer {
  width: 100%;
  padding: 40px 0px 10px 0px;
  background-color: #f8f8f8;

  .content {
    width: 100%;

    .brand-name img {
      width: 200px;
      height: 70px;
      object-fit: contain;
    }

    p {
      color: #808080;
      font-size: 15px;
      font-weight: 500;
      line-height: 1.8rem;
      margin: 20px 0px;
    }

    .socail-media {
      display: flex;
      align-items: center;
      align-content: center;

      li {
        margin-inline-end: 10px;

        &:last-child {
          margin: 0px;
        }

        a {
          img {
            width: 24px;
            height: 24px;
            object-fit: contain;
            opacity: .3;
            filter: invert(29%) sepia(95%) saturate(1347%) hue-rotate(183deg) brightness(96%) contrast(89%);
            transition: all .3s linear;
          }

          &:hover img {
            opacity: 1;
            animation: tada .4s linear;
          }
        }
      }
    }

    h1 {
      font-size: 25px;
      font-weight: 900;
      color: #92278f;
      margin-bottom: 24px;
    }

    .payment {
      width: 200px;
      height: 40px;
      object-fit: contain;
      margin-top: 10px;
    }

    .links-contain {
      display: flex;
      align-items: flex-start;
      align-content: flex-start;
      justify-content: space-between;

      .links {
        width: 40%;

        li {
          margin-bottom: 15px;

          &:last-child {
            margin: 0px;
          }

          a {
            color: #000;
            font-size: 13px;
            font-weight: 500;
            
            &:hover {
              color: #92278f;
            }
          }
        }
      }
    }

    .form-contain .form-group {
      width: 100%;
      height: 50px;
      position: relative;
      margin-bottom: 25px;

      .form-control {
        width: 100%;
        height: 100%;
        background-color: #fff;
        border: 1px solid #92278f;
        border-radius: 50px;
        padding: 0px 20px;
        color: #000;
        font-size: 15px;
        font-weight: 500;
        padding-inline-end: 120px !important;

        &::placeholder {
          font-size: 15px;
          font-weight: 500;
          color: #888;
        }
      }

      .search-btn {
        width: 100px;
        height: 40px;
        border: 0px;
        outline: none;
        border-radius: 50px;
        background: linear-gradient(90deg, #006778, #92278f);
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        font-size: 15px;
        font-weight: 500;
        color: #fff;
        position: absolute;
        top: calc(50% - 20px) ;
        left: 5px;

        &:hover {
          background: linear-gradient(90deg, #92278f, #006778);
        }
      }
    }

    .list {
      display: flex;
      align-items: center;
      align-content: center;

      li {
        margin-inline-end: 10px;

        &:last-child {
          margin: 0px !important
        }

        img {
          width: 120px;
          height: 50px;
          object-fit: contain;
          object-position: center;
        }
      }
    }
  }

  .copyrigths {
    margin-top: 25px;
    padding-top: 15px;
    border-top: 1px solid #808080;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;

    p {
      color: #000;
      font-size: 15px;
      font-weight: 500;
      margin: 0px;
    }

    a {
      display: flex;
      align-items: center;
      align-content: center;

      img {
        width: 40px;
        height: 30px;
        object-fit: contain;
        margin-inline-start: 10px;
      }
    }
  }
}

.careers {
  .box {
    width: 100%;
    padding: 20px 10px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: .04);
    transition: all .4s linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;

    .image-content {
      margin-bottom: 15px;
      width: 90px;
      height: 90px;
      background: linear-gradient(180deg, #92278f, #00466A);
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;

      img {
        width: 34px;
        height: 35px;
        object-fit: contain;
        filter: invert(100%) sepia(100%) saturate(13%) hue-rotate(237deg) brightness(104%) contrast(104%);
      }
    }

    h2 {
      color: #92278f;
      font-size: 18px;
      font-weight: 900;
      margin: 0px;
    }

    p {
      margin: 15px 0px;
      font-size: 14px;
      font-weight: 500;
      color: #333;
    }

    .custom-btn {
      border-radius: 10px !important;
    }

    &:hover {
      transform: translateY(-10px);
    }
  }
}

.modal-content {
  .form-group {
    margin-bottom: 15px !important;
  }

  .close {
    width: 30px;
    height: 30px;
    background-color: #92278f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: #fff;
    opacity: 1 !important;
  }
}

@import 'media';